$primary_color : #e6e3e3b0;
$secondary_color : #3db3ac;
.container {
    max-width: 730px;
    margin: 0px auto;
}
.monitor_riser{
    border-radius : 10px;
    height: 270px;
    position: relative;
    top: -85px;
    background-color: #ffffff;
    p{
        margin:25px 2px;
        color:gray;
        font-size:17px;
    }
}
.logo{
    position: relative;
    top:-29px;
}
.monitor_select{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    margin:0px auto;
    button{
        width: 200px;
        height:57px;
        border-radius: 7em 7em ;
        background-color:$secondary_color;
        outline:none;
        border:none;
        color: #fff;
        font-size: 17px;
    }

}
.bookmark{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    background-color:$primary_color ;
    width: 190px;
    height: 55px;
    border-radius: 6em 6em;
    span{
        margin-left: -5px;
        margin-right: 25px;
    }

    p{
        font-size: 17px;
        font-weight: 700;
        color:rgba(0, 0, 0, 0.63);
        padding-bottom: 5px;
    }
}
.donation_board{

    border-radius : 10px;
    background-color: #ffffff;
}
.monitor_riser_progress{
    display:flex;
    align-items: center;
    justify-content:center;
    gap: 3em;
    padding-top: 50px;
    margin-top: -46px;

    p {
        color:gray;
        margin-top:13px;
    }
   div:not(:last-child){
    padding-right: 55px;
    border-right: 1px solid rgba(128, 128, 128, 0.322);
    
}

}
.progress_container{
    display:flex;

}
.progress_bar {
    width: 634px;
    height:12px;
    border-radius:10px;
    background-color:#e6e3e3b0;
    margin:50px 40px;
}
.progress_gauge{

    width: 494px;
    height:12px;
    border-radius:10px;
    background-color:$secondary_color ;      
}


